<?xml version="1.0" encoding="utf-8"?>
<!--
  This web.config file allows IIS to host the Next.js application using iisnode.
  Requirements:
    1. IIS installed on the Windows Server.
    2. URL Rewrite Module installed in IIS.
    3. iisnode installed in IIS.
-->
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <webSocket enabled="false" />
    <handlers>
      <!-- Indicates that the server.js file is a Node.js application to be handled by the iisnode module -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Do not interfere with requests for Node.js debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        
        <!-- PWA & Root Public Files Direct Rewrite -->
        <rule name="PWAAndStaticPublic" stopProcessing="true">
          <match url="^(sw\.js|manifest\.json|manifest\.webmanifest|robots\.txt|ads\.txt|favicon\.ico|apple-icon\.png|icon\.png)$" />
          <action type="Rewrite" url="public/{R:1}" />
        </rule>

        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{DOCUMENT_ROOT}/public/{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>

        <!-- All other URLs are mapped to the Node.js site entry point (server.js) -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />
    
    <!-- 
      You can control how Node is managed by iisnode using the following options:
      * watchedFiles: semi-colon separated list of files that will be watched for changes to restart the server
      * node_env: will be propagated to node as NODE_ENV environment variable
    -->
    <iisnode watchedFiles="web.config;*.js" node_env="production" />
  </system.webServer>
</configuration>
